.Button {
   padding: 7px 15px;
}

.clear {
   padding: 0;
   background-color: inherit;
}

.outline {
   padding: 10px 15px;
   border: 1px solid var(--bg-secondary-color);
   background: none;
   color: var(--primary-color);
}
