@import "resset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";

.app {
   font: var(--font-m);
   background-color: var(--bg-primary-color);
}

.app-container {
   display: flex;
}

.page-wrapper {
   display: flex;
   flex-grow: 1;
}
